<kendo-treelist
            [kendoTreeListFlatBinding]="regnskabPoster"
            kendoTreeListExpandable
            idField="Id"
            parentIdField="ParentId"
        >
    <kendo-treelist-column [expandable]="true" field="Tekst" title="Tekst" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="PostId" title="Post" [width]="180" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Maengde" title="Maengde" [width]="100" [style]="{'text-align': 'right'}" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Faktor" title="Faktor" [width]="100" [style]="{'text-align': 'right'}" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Pris" title="Pris" [width]="100" [style]="{'text-align': 'right'}" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Enhed" title="Enhed" [width]="100" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Linjetotal" title="Total" [width]="100" [style]="{'text-align': 'right'}" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
    <kendo-treelist-column field="Linjenummer" title="Løbenummer" [width]="100" [style]="{'text-align': 'right'}" [style]="{ 'font-size': '12px'}"></kendo-treelist-column>
</kendo-treelist>